

* {
    box-sizing: border-box;
  }
  
    html {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: rgb(248, 248, 248);
  }

  body {
    margin: auto;
    width: 95%;
    height: 100vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    gap: 1em;
    justify-items: center;
    
  }

  header {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    margin-right: auto;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.2em; 
  }

  .searchbar-group {
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
  }

  #search-input {
    width: 45%;
    height: 2em;
    margin-left: 1em;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: solid 1px gray;
    list-style-type: none;
    transition: width 1s;
    
  }

  #search-input:focus{
    outline: none;
    border: 2px solid rgba(94, 238, 94, 0.849);
    width: 70%;
  }

  .bicycle-wheelie {
    animation: wheelie 1s ease-in-out forwards;
  }

  @keyframes wheelie {
    60% {
      transform: rotate(40deg);
    }
  }


  /* Card Styles for Employee Grid */
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
  }

  .card:hover {
    transition-duration: .3s;
    transform: scale(1.05);
  }

  .card-img {
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
  }

  .employee-info-box {
    flex-direction: column;
    font-size: .8em;
    padding: 10px;
  }

  .employee-info-box h2, .employee-info-box p {
    margin: 5px;
  }

  .employee-info-box p {
    color:rgb(133, 133, 133);
  }

 

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  .overlay-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    min-width: 40%;
  }

  .overlay-package {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
  }

  .overlay-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .overlay-item {
    margin: auto;
    text-align: center;
  }

  .close-btn {
    margin-left: auto;
    text-decoration: none;
    border-style: none;
    background-color: #fff;
    font-size: .8em;
  }

  .close-btn, .arrow {
    cursor: pointer;
  }

  .close-btn:hover {
    background-color: tomato;
    border-radius: 5px;
    font-weight: 700;
  }

  .employee-additional-info {
    border-top: 1px solid rgb(133, 133, 133);
    text-align: center;
    font-size: .8em;
    color: rgb(133, 133, 133);
  }

  
  

  @media (min-width: 768px) {
    .searchbar-group {
      display: flex;
    }
  }